@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-fraunces);

  --color-brun-50: #F4EDE4;
  --color-brun-100: #E3D5C5;
  --color-brun-200: #D9C2A8;
  --color-brun-400: #8B7363;
  --color-brun-600: #6B4423;
  --color-brun-700: #4A2F22;
  --color-brun-900: #3E2C23;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}